* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   background-image: url(./img/books.jpg);
}

#strongDiv {
   margin: 0 auto;
   margin-top: 2rem;
   width: 1000px;
   background-size: cover;
}

#strongDiv .newcolor {
   background: rgb(81, 134, 177);
}

#strongDiv .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 60px;
   font-size: 25px;
   font-weight: 600;
   background-color: rgb(85, 5, 105);
   border: 2px solid black;
   cursor: pointer;
   margin: 3px;
   color: white;
}

#strongDiv .newcolor {
   background: rgb(63, 172, 255);
}

